<div class="container ">
  <div [style.min-height]="'80vh'"  class="row g-3  d-flex flex-column  flex-column-reverse mt-2   flex-md-row flex-md-row align-items-center" >
    <div class="col-md-6 text-center text-md-start   text-capitalize">

      <div class="">

        <h2>{{homePage.jobTitle}}</h2>
        <h1>Hello I'm {{homePage.name}}</h1>
        <input type="text" [(ngModel)]="homePage.name">
        <p class="lead  ">{{homePage.about}}</p>
        <button class="btn btn-outline-info"><a class="nav-link" [href]="homePage.hyperLinks[0]">link</a></button>



      </div>

    </div>
    <div class="col-md-6  ">
      <div>
        <img class="img-fluid w-75 mx-auto d-block moving-img " [src]="homePage.imgUrl" alt="">
      </div>
    </div>
  </div>
</div>
